.m-5 {
  padding: 5px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important; 
}

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important; 
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-grey-bkgd {
  background-color: #f9f9f9;
}

.fix-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1vh 1vw;
}

.fix-scroll {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.lg-sg-r-container {
  overflow-x: scroll;
}

.long-single-row {
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden
}